header{
    background-color: #a0afe5;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

header h1 {
    text-align: left;
    font-size: 2rem;    
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 20px;
    color: rgb(29, 25, 25);
    
}

header a {
    font-size: 1.2rem;
    padding-right: 30px;
    text-align: right;
}

.links {
    align-self: center;
    justify-content: flex-end;
    
}

.perfil {
    display:flex;
    padding: 20px 250px;
    background-color:white;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}

.perfil img{
    margin: auto;
    width: 70%;
    border-radius: 960px;
    align-items: flex-start;
}

.perfil h2 {
    font-size: 1.5rem;
    padding-bottom: 8px;
}

.perfil p {
    padding-right: 5px;
    line-height: 1.1;
}


main {
    display: flex;
    justify-content:space-around;
    padding: 6px 10px;
    flex-wrap: wrap;    
    font-family:'Courier New', Courier, monospace;
}

#sub{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    font-size: 1.5rem;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
}

.sub1 {
    align-items: flex-end;
}

.sub2 {
    align-items: flex-start;
}

#esquerda {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
}

.item {
    height: 100px;
    width: 100px;
    background-color: #a0afe5;
    margin: 4px;
    text-align: center;
}

#direita {
    background-color:white;
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #a0afe5;
    padding: 5px 10px;
}

footer img {
    width: 40px;
    padding: 0 10px;
}

#redes {
    display: flex;
    justify-content: space-between;

}

footer input {
    background-color: #d89bd3;
    border-radius: 20px;
}
